@import 'tailwindcss';

.form-input {
	@apply bg-white px-4 py-3 font-[Jetbrains_mono] text-sm w-full md:max-lg:w-full focus:outline-none focus-within:outline-none outline-none;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2), 0 2px 4px rgba(0, 0, 0, 0.15);
}

.input-error {
	@apply absolute text-red-500 text-sm max-w-full mt-0.5;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
